/* MIN-WIDTH 1440px */

@media screen and (min-width: 1440px) {
  .page-hero {
    height: 37.5625rem;
    margin-bottom: 0;
  }

  .page-hero-bcg {
    padding-bottom: 13rem;
  }

  /* ADVANTAGES */

  .page-advantages-title {
    max-width: 60rem;
  }

  .page-advantages-item {
    max-width: 25rem;
    padding: 1.56rem 1.9rem;
  }

  .page-advantages-list > :last-child {
    margin-right: 0;
  }

  /* STEP1-LICENSE */

  .page-license-one-bcg {
    max-width: 77.5rem;
  }

  .page-license-one-title {
    font-size: 1.75rem;
    line-height: 2.625rem; /* 150% */
    margin-bottom: 1.87rem;
  }

  .page-license-one-flex {
    margin-bottom: 2.5rem;
  }

  .page-license-one-wrap {
    padding: 1.88rem;
  }

  .page-license-one-wrap-title {
    font-weight: 600;
    line-height: normal;
  }

  /* OFFER */

  .page-offer-list .slick-slide {
    margin: 0 1.25rem;
  }

  .offer-item-content {
    gap: 1.25rem;
    margin-bottom: 0.87rem;
  }

  .offer-item-content-icon {
    width: 3.125rem;
    height: 3.125rem;
  }

  .offer-item-content h3 {
    font-size: 1.5rem;
  }

  .offer-item-content-arrow {
    width: 1.375rem;
    height: 1.375rem;
  }

  .offer-item-text {
    font-weight: 600;
  }

  .page-offer-slider-prev {
    top: -20%;
  }

  .page-offer-slider-next {
    top: -20%;
  }
}
