/* MIN-WIDTH 1024px */

@media screen and (min-width: 1024px) {
  .container,.testimonials-slider-container {
    max-width: 64rem;
    padding: 0 3.5rem;
  }

  .container-offer {
    max-width: 64rem;
  }

  /* OVERALL Styles */

  .show-more.mobile-btn {
    display: none;
  }

  /* HEADER Styles */

  .nav-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7.75rem;
  }

  .nav-list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
  }

  .mob-menu-btn {
    display: none;
  }

  .header-contact-btn {
    border-radius: 0.625rem;
    background: #284b8f;
    padding: 0.5rem 1.2rem;
    color: #fff;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
  }

  /* PROPOSAL */

  .proposal-list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    row-gap: 2.19rem;
    column-gap: 6.19rem;
  }

  /* OFFER */

  .offer-bcg {
    background-image: url(../img/offer-bcg.png);
    background-repeat: no-repeat;
    background-size: 40rem;
    background-position: top 65% left -85%;
  }

  .offer-content-flex {
    display: flex;
    justify-content: flex-end;
  }

  .show-more.desktop-btn {
    display: block;
    margin: 0;
  }

  .offer-text-wrap {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 40%;
  }

  .offer-text {
    margin-top: 1.25rem;
  }

  .offer-list {
    position: relative;
    justify-content: flex-end;
    margin: 0;
    width: 100%;
  }

  .offer-list::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: -0.2rem;
    width: 0.1rem;
    height: 100%;
    background-color: rgba(27, 50, 95, 0.666);
  }

  .offer-list::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 20.6rem;
    width: 0.1rem;
    height: 100%;
    background-color: rgba(27, 50, 95, 0.666);
  }

  .offer-item {
    max-width: 19.5rem;
  }

  .offer-item:nth-child(1),
  .offer-item:nth-child(2) {
    margin-top: 1.25rem;
  }

  .offer-item:nth-child(2n + 4) {
    margin-top: -5rem;
  }

  .offer-item:nth-child(2) .offer-item-line {
    display: none;
  }

  .offer-line-horizontal {
    position: relative;
    display: block;
    width: 100%;
    height: 0.0625rem;
    background-color: rgba(27, 50, 95, 0.666);
  }

  .offer-line-horizontal::before {
    content: "";
    position: absolute;
    top: -0.25rem;
    left: 15.8rem;
    bottom: 0;
    width: 0.625rem;
    height: 0.625rem;
    border-radius: 50%;
    background-image: url(../img/offer-circle.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.offer-line-horizontal::after {
  content: "";
  position: absolute;
  top: -0.25rem;
  left: 36.6rem;
  bottom: 0;
  width: 0.625rem;
  height: 0.625rem;
  border-radius: 50%;
  background-image: url(../img/offer-circle.svg);
  background-repeat: no-repeat;
  background-position: center;
}

  .show-more {
    width: 10rem;
  }

  .show-more.desktop-btn {
    position: fixed;
    display: none;
    z-index: 10;
  }

  /* ADVANTAGES */

  .advantages-first-item,
  .advantages-second-item {
    min-height: 14.5rem;
  }

  /* TESTIMONIALS */

  .testimonials-slider-prev {
    left: 6%;
  }

  .testimonials-slider-next {
    right: 6%;
  }

  /* TEAM */

  .team-flex-text-item {
    max-width: 30%;
  }

  .team-slider-wrap {
    margin-left: 5rem;
    width: 40rem;
  }

  .team-slider-wrap {
    margin: 0;
  }

  .team-slider-item-flex {
    display: flex;
  }

  .slick-slide.team-slider-item {
    min-width: 50rem;
  }

  .team-slider-item.slick-current.slick-current {
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }

  /* FOOTER */

  .footer-bcg {
    background-size: 15rem;
  }

  .footer-logo-nav-wrap {
    gap: 7rem;
    margin-bottom: 5rem;
  }

  .footer-nav {
    gap: 5rem;
  }

  .footer-nav-item {
    gap: 1.5rem;
  }

  .footer-address-wrap {
    justify-content: center;
    gap: 2rem;
  }

  .footer-address-item {
    flex: 0 0 45%;
  }
}
