/* MIN-WIDTH 390px */

@media screen and (min-width: 390px) {
  .container,
  .testimonials-slider-container {
    max-width: 26.5625rem;
    padding: 0 1.88rem;
  }

  .container-offer {
    max-width: 26.565rem;
  }

  /* CONSULTATION */

  .consultation-bcg {
    background-size: 18rem;
    padding-top: 10.88rem;
  }

  .consultation-text p {
    max-width: 20rem;
  }

  /* TESTIMONIALS */

  .slick-slide.testimonials-slider-item {
    width: 20rem;
  }

  .testimonials-slider-prev {
    left: 9%;
  }

  .testimonials-slider-next {
    right: 9%;
  }

  /* TEAM */
  .slick-slide.team-slider-item {
    max-width: 21rem;
  }
}

@media screen and (min-width: 420px) {
  /* TEAM */

  .slick-slide.team-slider-item {
    max-width: 23rem;
  }
}
