/* MIN-WIDTH 1440px */

@media screen and (min-width: 1440px) {
  .container {
    max-width: 90rem;
    padding: 0 6.25rem;
  }

  .container-offer {
    max-width: 90rem;
  }

  /* OVERALL Styles */

  .over-text {
    font-size: 1rem;
    margin-bottom: 1.25rem;
  }

  .title-h2 {
    font-size: 2.5rem;
    margin-bottom: 2.13rem;
  }

  /* HEADER Styles */

  .logo img {
    width: 12.5rem;
  }

  .nav-menu {
    gap: 10.69rem;
  }

  .nav-list {
    gap: 2.5rem;
  }

  .nav-list li a {
    font-size: 0.875rem;
  }

  .header-contact-btn {
    font-size: 0.875rem;
    padding: 0.88rem 2.2rem;
  }

  /* HERO */

  /* PROPOSAL */

  .proposal {
    padding-top: 3.25rem;
    padding-bottom: 3.75rem;
  }

  .proposal-list {
    column-gap: 6.25rem;
  }

  .proposal-item-flex {
    margin-bottom: 1rem;
  }

  /* OFFER */

  .offer-bcg {
    background-size: 60rem;
    background-position: top 90% left -85%;
  }

  .offer-line-horizontal {
    height: 0.125rem;
    margin-bottom: 1.44rem;
  }

  .offer-span-container {
    position: relative;
  }

  .offer-text-wrap {
    flex: 1 1 98%;
    margin-top: -2rem;
  }

  .offer-text {
    max-width: 20.25rem;
  }

  .offer-list {
    row-gap: 1.87rem;
    column-gap: 3.06rem;
    background-position: 51.3%;
    margin-top: -2rem;
  }

  .offer-item:nth-child(1),
  .offer-item:nth-child(2) {
    margin-top: 1.44rem;
  }

  .offer-text {
    margin-bottom: 2.5rem;
  }

  .offer-item {
    max-width: 24.125rem;
    margin-top: 2.01rem;
  }

  .offer-companies {
    gap: 1.9rem;
    padding: 0.94rem 1.5rem;
    margin-bottom: 1.38rem;
  }

  .offer-companies-number {
    font-size: 2rem;
  }

  .offer-companies-text {
    font-size: 1.25rem;
  }

  .offer-item-content {
    gap: 1.25rem;
    margin-bottom: 0.87rem;
  }

  .offer-item-content-icon {
    width: 3.125rem;
    height: 3.125rem;
  }

  .offer-item-content h3 {
    font-size: 1.5rem;
  }

  .offer-item-content-arrow {
    width: 1.375rem;
    height: 1.375rem;
  }

  .offer-item-text {
    font-weight: 600;
  }

  /* CONSULTATION */

  .consultation-bcg {
    background-size: 17rem;
  }

  .consultation-text {
    max-width: 65rem;
  }

  .consultation-text h2 {
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 1.25rem;
  }

  .consultation-text p {
    font-weight: 600;
    margin-bottom: 1.8rem;
  }

  .consultation-form-flex {
    justify-content: flex-start;
  }

  .consultation-form-group {
    max-width: 15rem;
  }

  .consultation-form-group input {
    padding: 1.3rem 0.625rem 0.625rem;
    font-size: 1.1rem;
  }

  .consultation-submit-btn {
    max-width: 18rem;
    font-size: 1rem;
    padding: 1rem 1.44rem;
  }

  .consultation-submit-btn img {
    width: 1.375rem;
    height: 1.375rem;
    margin-left: 1.44rem;
  }

  /* ADVANTAGES */

  .advantages-first-item,
  .advantages-second-item {
    border-radius: 0.625rem;
    background-color: #f5f5f5;
    padding: 1.25rem 1.56rem;
  }

  .advantages-first-item h3,
  .advantages-second-item h3 {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 2.25rem;
    margin-bottom: 1.25rem;
  }

  .advantages-first-item p,
  .advantages-second-item p {
    font-size: 1rem;
    line-height: 1.5;
  }

  /* TESTIMONIALS */

  .testimonials h2 {
    font-size: 2rem;
  }

  .testimonials-slider-container {
    padding: 0 6.25rem;
  }

  .slick-slide.testimonials-slider-item {
    width: 28.25rem;
    height: 17.875rem;
    padding: 2.5rem 2.56rem;
    margin-right: -1.625rem;
  }

  .testimonials-slider-star {
    margin-bottom: 1.56rem;
}

  .testimonials-slider-prev {
    left: 8%;
    width: 1.25rem;
    height: 1.25rem;
  }

  .testimonials-slider-next {
    right: 8%;
    width: 1.25rem;
    height: 1.25rem;
  }

  /* QUESTIONS */

  .questions {
    padding-bottom: 6.25rem;
  }

  .questions h2 {
    margin-bottom: 4.38rem;
  }

  .questions-list {
    gap: 1.88rem;
  }

  .questions-item h3 {
    font-size: 2rem;
    line-height: 1.9375rem;
    margin-bottom: 0.88rem;
  }

  .questions-item p {
    margin-bottom: 1.88rem;
  }

  .questions-item span {
    height: 0.125rem;
  }

  /* FOOTER */

  .footer-bcg {
    background-size: 12rem;
  }

  .footer-flex {
    gap: 8.19rem;
  }

  .footer-logo-nav-wrap {
    gap: 6.3rem;
  }

  .footer-address-wrap {
    gap: 5.4rem;
  }

  .footer-address-item {
    flex: 0 0 40%;
  }

  .footer-line {
    height: 0.125rem;
  }
}
